footer {
    text-align: center;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 120px;
  
    a {
      text-decoration: none;
      font-size: 28px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background: rgb(2, 37, 107);
      color: #f1f1f1;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      transition: all .4s ease-in-out;
  
      &:hover {
        transform: scale(1.2);
      }
    }
  }