$body-color: linear-gradient(to bottom, #051937, #2a3b5b, #4d6082, #7388aa, #9ab2d4);
$margen-general: 0px;
$padding-general: 0px;
$font-fam: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$back-buttons: rgb(2, 37, 107);